<div class="login-button col-sm-4 col-sm-offset-4">
<div class="panel panel-info">
      <div class="panel-heading">Please Login with your google account to access <strong>Anytime-Library</strong></div>
      <div class="panel-body">
        <span>
          <h5>1. Click the button below to login.</h5>
          <h5>2. To login as <strong>user</strong> please provide your google credentials.</h5>
          <h5>3. To login as <strong>Admin</strong> please provide your admin credentials.</h5>
        </span>
        <!--<div class="g-signin2"></div>-->
        <button id="googleBtn">Google Sign-In</button>
    </div>
</div>
